{% extends "base.html" %}

{% block content %}

<h2 class="page-title">Admin Dashboard</h2>

<div class="dashboard-grid">

    <div class="stat-card">
        <h3>Today's Sales</h3>
        <p>₹8,250</p>
    </div>

    <div class="stat-card">
        <h3>Monthly Revenue</h3>
        <p>₹1,24,600</p>
    </div>

    <div class="stat-card">
        <h3>Total Products</h3>
        <p>128</p>
    </div>

    <div class="stat-card alert">
        <h3>Low Stock Items</h3>
        <p>5</p>
    </div>

</div>

{% endblock %}
